$medium-blue: #1100d1ff;
$alloy-orange: #c96218ff;
$raw-sienna: #cc8d60ff;
$phthalo-blue: #160b8fff;
$blue: #1a05ffff;

$enable-shadows: true;
$enable-gradients: true;
$enable-responsive-font-sizes: true;

$theme-colors: (
  "primary": $medium-blue,
  "secondary": $raw-sienna,
  "dark": $phthalo-blue,
  "danger": #ff0033,
  "altblue": $blue,
);

.notification-container {
  overflow-y: unset !important;
  padding: 1em 2em !important;
}

.notification {
  // box-shadow: none !important;
  border-radius: 0.445em !important;
  // box-shadow: 0 0 12px #999;
  // z-index: 999999999 !important;
}

::selection {
  background-color: $blue;
  color: white;
}

* {
  user-select: none;
}

// $body-bg: rgba(177, 199, 255, 0.068);

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

$font-family-sans-serif: "Poppins", sans-serif;

@import "bootstrap";
